:root {
    --primary: #0b4c96;
    --dark: #021802;
    --bg: #456df1;
    --white: #f7fcfa;
    --border: #2c83e6;
    --text-muted: #000705;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', system-ui, sans-serif;
}

body {
    background-color: var(--bg);
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    background-color: var(--white);
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.logo h2 {
    color: var(--primary);
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
    flex: 1;
}

.sidebar li {
    margin-bottom: 8px;
}

.sidebar a {
    text-decoration: none;
    color: var(--text-muted);
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a.active, .sidebar a:hover {
    background-color: #f0f9ff;
    color: var(--primary);
    font-weight: 600;
}

.letter p{
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary);
    float: left;
    margin-right: 12px;
    text-shadow: 0 0 10px #456df1;

}

.user-info {
    border-top: 1px solid var(--border);
    padding-top: 20px;
    font-weight: bold;
    color: var(--dark);
    text-align: center;
}


.main-content {
    flex: 1;
    margin-left: 260px;
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-actions i{
    font-size: 1.5rem;
    color:#efeff1;
}


.search-wrapper {
  position: relative;
  width: 1000px;
}

.search-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.search-wrapper input {
  width: 100%;
  padding: 8px 8px 8px 32px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}


.form-section {
    background: var(--white);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
}

h1 {
    font-size: 1.4rem;
    color: var(--dark);
}

.subtitle {
    color: var(--text-muted);
    margin-bottom: 30px;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}



.form-step {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 12px #000705;
    
}

.form-step:hover{
    transform: scale(1.02); 
    border-color: var(--primary); 
    box-shadow: 0 0px 100px rgba(0, 0, 0, 0.904);
    z-index: 10;
    position: relative;
}


.form-step h3 {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.form-step h3 span {
    background: var(--primary);
    color: white;
    padding: 2px 8px;
    border-radius: 50%;
    margin-right: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--dark);
}

input, select, textarea {
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: 6px;
    outline: none;
}

input:focus {
    border-color: var(--primary);
}

.info {
    display: flex;
    justify-content: left;
    gap: 6px;
    margin-top: 4px;
    color: #6b7280;
    font-size: 12px;
}

.infoimg{
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 8px;
    color: #6b7280;
    font-size: 12px;
}

.info i, .infoimg i {
    color: #0b4c96;
    font-size: 13px;
}

#salePrice {
    font-size: 16px;
    font-weight: bold;
    color: #00060c;
    justify-content: center;
}
.upload-box {
    border: 2px dashed var(--border);
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    color: var(--text-muted);
}

.btn-upload {
    margin-top: 10px;
    padding: 8px 20px;
    background: var(--dark);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn-submit {
    background: var(--primary);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
}

.btn-clear {
    background: #f1f5f9;
    color: var(--text-muted);
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: var(--text-muted);
    font-size: 0.8rem;
}

